1. Create an application which uses EF Core and Razor Mvc technologies to display shopItems as well as Shops

Shop should have Id, Name
ShopItem should have Id, Name, ShopId, ExpiryDate (DateTime = DateTime.UtcNow)

2. Application should have a page ShopItems which displays all info about items 
as well Shop Name it belongs to.

3. Data seed migration should have at least 2 shops and 5 items.
----------------------------------------------------------------------

4. Add new functionalities to your ShopItem:
  - Add new Item
  - Delete Item
  - Update Item

5. Validate that adding new item: name should be required and between 5 and 20 characters range.


-----------------------------------------------------------------------

6. Connect Shop and ShopItem with 'One to Many' relationship and allow assign Shop in Add/Edit.

7. Introduce Tags (just id and name) into the system. There should be a 'many to many' relationshipp between Tag and ShopItem.
On ShopItem create/update(update lil bit more complex), you should be able to multi-select Tags.


Advanced and Optional:

1. Display Shops in separate page.
2. Program "Add Shop" and "add ShopItem" functionality.

-------------------------------------------------------


3. Implement "Soft Delete" instead of delete
4. Add new functionalities to your Shop:
  - Add new Shop
  - Delete Shop
  - Update Shop (modify Shop to use soft-delete)
5. Research and implement 'Generic Repository' pattern

------------------------------------------------------

6. Add Tag List/Add/Remove functionality.
7. You have List/Add/Remove for Shops/Tags/ShopItems -> try to minimised the code used (Research c# Generics)
8. Lecture's 'many to many' add/edit method can be improved -> find a way to improve that.